<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Technical.Imaging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Technical.Imaging.Properties.Settings>
            <setting name="FavoritePaintProgram" serializeAs="String">
                <value>d:\prg\Paint.NET\PaintDotNET.exe</value>
            </setting>
            <setting name="MaxImageSizeInKB" serializeAs="String">
                <value>1024</value>
            </setting>
        </Technical.Imaging.Properties.Settings>
    </applicationSettings>
</configuration>
