<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Technical.Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Technical.Utilities.Properties.Settings>
            <setting name="ExchangeServer" serializeAs="String">
                <value>exchfe.Technical.ch</value>
            </setting>
        </Technical.Utilities.Properties.Settings>
    </applicationSettings>
</configuration>
