<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="dbconfig" type="Manor.ConnectionStrings.Configuration.DbConfigurationSection, Manor.ConnectionStrings" />
  </configSections>

  <appSettings>
    <add key="CslaAuthentication" value="Csla"/>
    <add key="CslaAutoCloneOnUpdate" value="false"/>
    <add key="CslaPropertyChangedMode" value="Windows"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <qualifyAssembly partialName="Oracle.DataAccess" fullName="Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </assemblyBinding>
  </runtime>

  <dbconfig>

    <connectionStrings>
      <!--WWS--> 
      <!--connection id="pkopie" crypted="false" connectionString="Data Source=pkopie;User Id=itest_user;Password=plsqlt2st;Connection Timeout=720;Enlist=true;Pooling=true;Min Pool Size=1;Max Pool Size=10;Incr Pool Size=1;Decr Pool Size=1;"/-->

      <connection id="pkopie" crypted="false" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=wwsnetoracle-2)(PORT=1521)))(CONNECT_DATA=(SID=WWSDMZ)));User Id=net_ww;Password=net_ww;Connection Timeout=720;Enlist=true;Pooling=true;Min Pool Size=1;Max Pool Size=3;Incr Pool Size=1;Decr Pool Size=1;"/>

      <!--connection id="pkopie" crypted="false" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=manordb)(PORT=1819)))(CONNECT_DATA=(SID=PKOPIE)));User Id=net_ww;Password=net_ww;Connection Timeout=720;Enlist=true;Pooling=true;Min Pool Size=1;Max Pool Size=3;Incr Pool Size=1;Decr Pool Size=1;"/-->	  
	  
      <!--WWS-HAUS-->
      <connection id="hautes" crypted="false" connectionString="Data Source=hautes;User Id=itest_user;Password=plsqlt2st;Connection Timeout=720;Enlist=true;Pooling=true;Min Pool Size=1;Max Pool Size=10;Incr Pool Size=1;Decr Pool Size=1;"/>

      <!--MAIN-->
      <!--connection id="maites" crypted="false" connectionString="Data Source=maites;User Id=itest_user;Password=plsqlt2st;Connection Timeout=720;Enlist=true;Pooling=true;Min Pool Size=1;Max Pool Size=10;Incr Pool Size=1;Decr Pool Size=1;"/-->

      <connection id="maites" crypted="false" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=wwsnetoracle-2)(PORT=1521)))(CONNECT_DATA=(SID=WWSDMZ)));User Id=net_ww;Password=net_ww;Connection Timeout=720;Enlist=true;Pooling=true;Min Pool Size=1;Max Pool Size=3;Incr Pool Size=1;Decr Pool Size=1;"/>	  
	  

      <!--FIS-->
      <connection id="fistes" crypted="false" connectionString="Data Source=fistes;User Id=itest_user;Password=plsqlt2st;Connection Timeout=720;Enlist=true;Pooling=true;Min Pool Size=1;Max Pool Size=10;Incr Pool Size=1;Decr Pool Size=1;"/>

      <!--AIM-->
      <connection id="aimtes" crypted="false" connectionString="Data Source=aimtes;User Id=itest_user;Password=plsqlt2st;Connection Timeout=720;Enlist=true;Pooling=true;Min Pool Size=1;Max Pool Size=10;Incr Pool Size=1;Decr Pool Size=1;"/>

      <!--LAS-->
      <connection id="lastes" crypted="false" connectionString="Data Source=lastes;User Id=itest_user;Password=plsqlt2st;Connection Timeout=720;Enlist=true;Pooling=true;Min Pool Size=1;Max Pool Size=10;Incr Pool Size=1;Decr Pool Size=1;"/>

    </connectionStrings>

    <databaseTypes>
      <!--WWS databases-->
      <database-type type="Wws">
        <database id="pkopie" mode="Kopie"/>
      </database-type>
      <!--WWS-HAUS databases-->
      <database-type type="WwHaus">
        <database id="hautes" mode="Kopie"/>
      </database-type>
      <!--Menu databases-->
      <database-type type="MainDb">
        <database id="maites" mode="Kopie"/>
      </database-type>
      <!--Fis databases-->
      <database-type type="Fis">
        <database id="fistes" mode="Kopie"/>
      </database-type>
      <!--AIM databases -->
      <database-type type="Aim">
        <database id="aimtes" mode="Kopie"/>
      </database-type>
      <!--LAS databases -->
      <database-type type="Las">
        <database id="lastes" mode="Kopie"/>
      </database-type>
    </databaseTypes>

  </dbconfig>

</configuration>